<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/app/assets/builds" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="text-muted">© <%= Time.now.year %> <%= link_to 'Page.digital', root_url, class: 'text-muted' %></span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><%= link_to 'Terms', public_terms_url %></li>
    <li class="ms-3"><%= link_to 'Privacy', public_privacy_url %></li>
    <li class="ms-3"><%= link_to 'Support', 'https://m.me/PageDigitalApp', target: '_blank' %></li>
  </ul>
</footer>