<div class="card">
  <div class="card-body">
    <ul class="page-menu nav nav-pills nav-fill">
      <li class="nav-item">
        <%= link_to 'Links', page_content_items_url(page), class: class_names('nav-link', { active: current_page?(page_content_items_url(page)) }) %>
      </li>
      <li class="nav-item">
        <%= link_to 'Profile', edit_page_page_profile_url(page), class: class_names('nav-link', { active: current_page?(edit_page_page_profile_url(page)) }) %>
      </li>
      <li class="nav-item">
        <%= link_to 'Appearance', edit_page_page_appearance_url(page), class: class_names('nav-link', { active: current_page?(edit_page_page_appearance_url(page)) }) %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', edit_page_page_contact_url(page), class: class_names('nav-link', { active: current_page?(edit_page_page_contact_url(page)) }) %>
      </li>
      <li class="nav-item">
        <%= link_to 'Integration', edit_page_page_integration_url(page), class: class_names('nav-link', { active: current_page?(edit_page_page_integration_url(page)) }) %>
      </li>
      <li class="nav-item">
        <%= link_to 'Configuration', edit_page_url(page), class: class_names('nav-link', { active: current_page?(edit_page_url(page)) }) %>
      </li>
    </ul>
  </div>
</div>