<div class="container-md">
  <h2>Integration with external tools</h2>

  <div class="card">
    <div class="card-body">
      <%= simple_form_for(@page_integration, url: page_page_integration_url) do |f| %>
        <div class="alert alert-primary" role="alert">
          <span>
            The tracking codes lets you analyze the traffic to your page and track ad campaigns.
            You can learn more here: <a href="https://www.facebook.com/business/tools/meta-pixel" target="_blank">Meta Pixel</a>,
            <a href="https://marketingplatform.google.com/about/analytics/" target="_blank">Google Analytics</a>.
          </span>
        </div>

        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :facebook_pixel, hint: 'Meta Pixel' %>
          <%= f.input :google_analytics, hint: 'Global site tag (gtag.js)' %>
          <%#= f.input :email_capture, as: :boolean %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: 'btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
