<div id="<%= dom_id page %>">
  <div class="row">
    <div class="col">
      <% if page.page_profile.profile_image.representable? %>
        <%= image_tag page.page_profile.profile_image, size: 150 %>
      <% end %>
    </div>
    <div class="col">
      <% if page.page_profile.header_image.representable? %>
        <%= image_tag page.page_profile.header_image, size: 150 %>
      <% end %>
    </div>
    <div class="col">
      <strong>Slug:</strong>
      <%= page.slug %>
    </div>
    <div class="col">
      <strong>Published:</strong>
      <%= page.published %>
    </div>
    <div class="col">
      <strong>Lock code:</strong>
      <%= page.lock_code %>
    </div>
    <div class="col">
      <strong>Display name</strong>
      <%= page.page_profile.display_name %>
    </div>
    <div class="col">
      <strong>Location</strong>
      <%= page.page_profile.location %>
    </div>
    <div class="col">
      <strong>Description</strong>
      <%= page.page_profile.description %>
    </div>
  </div>
</div>
