<div id="<%= dom_id page %>">
  <p>
    <strong>Slug:</strong>
    <%= page.slug %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= page.published %>
  </p>

  <p>
    <strong>Lock code:</strong>
    <%= page.lock_code %>
  </p>

  <p>
    <strong>Page profile</strong>
    <%= page.page_profile.as_json %>
  </p>

</div>
