<h1>Editing page</h1>
<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Profile', edit_page_page_profile_url(@page), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Appearance', edit_page_page_appearance_url(@page), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contact Information', edit_page_page_contact_url(@page), class: 'nav-link' %>
  </li>
</ul>

<%= render "form", page: @page %>

<%= render "integration_form", page_integration: @page.page_integration %>

<br>

<div>
  <%= link_to "Show this page", @page %> |
  <%= link_to "Back to pages", pages_path %>
</div>
