<h1>Editing page</h1>

<%= render "form", page: @page %>

<%= render "profile_form", page_profile: @page.page_profile %>
<%= render "appearance_form", page_appearance: @page.page_appearance %>
<%= render "contact_form", page_contact: @page.page_contact %>

<br>

<div>
  <%= link_to "Show this page", @page %> |
  <%= link_to "Back to pages", pages_path %>
</div>
