<div class="container-md">
  <!--Content item actions-->
  <div class="actions row py-3">
    <div class="col-12 col-md d-grid">
      <%= link_to "New link 🔗", new_page_content_item_path, class: 'btn btn-primary', data: { turbo_frame: dom_id(ContentItem.new) } %>
    </div>
    <div class="col-md-1 py-2 my-md-0">
    </div>
    <div class="col-12 col-md d-grid">
      <%= render 'components/explore-ideas-modal' %>
    </div>
  </div>

  <!--New content item form-->
  <div class="my-4">
    <%= turbo_frame_tag ContentItem.new do %>
    <% end %>
  </div>

  <!--List of content items-->
  <%= turbo_frame_tag :page_content_items, class: 'd-flex flex-column gap-3' do %>
    <% @content_items.each do |content_item| %>
      <%= render content_item %>
    <% end %>
  <% end %>
</div>