<% content_for(:html_title) { "#{@page.page_profile.display_name} (@#{@page.slug}) · Page.digital" } %>

<div class="wrap h-100 public-page user-profile <%= "#{schema_color_css_class} #{theme_color_css_class} #{font_css_class}"  %>">
  <div class="wrap-inner">
<!--    Navigation bar-->
    <nav class="navbar navbar-dark fixed-top bg-transparent">
      <div class="container justify-content-center">
        <a class="navbar-brand text-white" href="#">Page.digital</a>
      </div>
    </nav>
<!--    Page content-->
    <div class="container">
      <div class="container-lg">
        <div class="profile row">
          <div class="profile-panel col">
            <!--          Header space-->
            <div class="profile-panel-header">
              <div class="profile-panel-header-bg" style="background-image: url(<%= profile_page_header_image_url %>)"></div>
            </div>
            <!--          Header menu-->
            <div class="profile-panel-menu d-flex justify-content-between my-3">
              <div class="profile-image">
                <figure>
                  <%= link_to public_page_url(@page) do %>
                    <%= attached_image_tag(@page.page_profile.profile_image, 'profile_image_placeholder.svg', class: 'rounded-circle') %>
                  <% end %>
                </figure>
              </div>
              <div class="profile-panel-actions">
<!--                Contact information-->
                <%= render 'public/components/contact_info' %>
              </div>
            </div>
          </div>
        </div>

        <div class="spacer d-none d-md-block py-md-2"></div>

        <div class="main-content row">
          <div class="about col-12 col-md-4 mb-3">
<!--            About user-->
            <%= render 'public/components/about_card' %>
            <%= render 'public/components/footer' %>
            <div class="bottom-separator border-bottom mt-3 d-block d-md-none"></div>
          </div>
          <div class="content col-12 col-md-8">
            <div class="d-flex flex-column gap-2">
<!--              Link list-->
              <%= render 'public/components/content_item_card_list' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'public/components/analytics' %>
<%= render 'public/components/facebook_pixel' %>