<!DOCTYPE html>
<html>
  <head>
    <title>Pagedigital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'components/navbar', page: @page %>
    <div class="container">
      <div class="py-3">
        <%= render 'components/page_info', page: @page %>
      </div>

      <%= yield %>

      <%= render 'components/footer' %>
    </div>
  </body>
</html>
