<!DOCTYPE html>
<html>
  <head>
    <title>Pagedigital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <%= render 'components/navbar' %>
      <div class="my-4">
        <%= render 'components/page_info', page: @page %>
      </div>
      <div class="my-4">
        <%= render 'components/page_navbar', page: @page %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
