<!DOCTYPE html>
<html>
<head>
  <title>Authenticate - Page.digital</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="bg-light">
<div class="wrap h-100">
  <div class="wrap-inner">
    <div class="container-md">
      <div class="logo-container text-center p-5">
        <%= link_to root_url do %>
          <%= image_tag('logo_full.svg', width: 150) %>
        <% end %>
      </div>
      <div class="card">
        <div class="card-body">
          <%= yield %>
        </div>
      </div>
      <%= render 'components/footer' %>
    </div>
  </div>
</div>
<%= render 'components/flash_message' %>
</body>
</html>
