<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:html_title) ? yield(:html_title) : 'Page.digital' %></title>
  <meta name="description" content="<%= yield(:html_description) %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="robots" content="index, follow">
  <%= yield(:html_header) %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <%= yield %>
</body>
</html>
